@{
    ViewBag.Title = "Home Page";
}



<section id="home-section" class="hero">

    <div class="slider-item" style="background-image: url(/Content/images/2.jpg);">
        <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-1">Online Library  </h1>
            <h3 class="subheading mb-1">We Provide variety of Books  &amp; Articles</h3>
            <p><a href="#" class="btn btn-primary">View Details</a></p>
        </div>

    </div>
</section>
<section>
    <div class="container-fluid  p-3 my-3 bg-warning text-white">
        <div class="row">
            <div class="col-12">
                <center><h1 class="heading-agileinfo"><b>Our Feature</b></h1></center>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-4">
                <center>
                    <img width="150px" src="~/Content/images/2.png" />
                    <h3 class="mb-1">..........................................</h3>
                    <h3 class="heading"><b>Digital Book Inventory</b></h3>

                    <span>Compares the information in item record with the physical material on the shelf.</span>
                </center>
            </div>

            <div class=" col-md-4">
                <center>
                    <img width="150px" src="~/Content/images/3.png" />
                    <h3 class="heading"><b>Search Books</b></h3>
                    <span>Find what you want in a library </span>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" src="~/Content/images/4.png" />
                    <h3 class="heading"><b>Defaulter list</b></h3>
                    <span> person who fails to return books </span>
                </center>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
           

            
            <div class="col-md-4">
                <div class="row-md-6">
                    <div class="hero-image" style="background-image: url(/Content/images/muna.jpg);">
                        <div class="text px-3 py-1">
                            <h2><a href="#"class="btn btn-primary">novel</a></h2>

                        </div>
                    </div>
                </div>
                <div class="row-md-6">
                    <div class="hero-image" style="background-image: url(/Content/images/download.jpg);">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#"class="btn btn-primary">poetry</a></h2>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-ms-4">
                    <div class="text text-center">
                        <div class="hero-image1" style="background-image: url(/Content/images/book1.jpg);">
                            <center>
                                <h2>Books</h2>
                                <p><h5><b>Good friends, good books, and a sleepy conscience: this is the ideal life.</b></h5></p>
                                @*<p><a href="#" class="btn btn-primary ">Read</a></p>*@
                            </center>
                        </div>

                    </div>

                </div>
            

                <div class="col-md-4">
                    <div class="row-md-6">
                        <div class="hero-image" style="background-image: url(/Content/images/binod.jpg);">
                            <div class="text px-3 py-1">
                                <h2><a href="#"class="btn btn-primary">Biography</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row-md-6">
                        <div class="hero-image" style="background-image: url(/Content/images/unnamed.png);">
                            <div class="text px-3 py-1">
                                <h2><a href="#"class="btn btn-primary">text book</a></h2>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
    
</div>

</section>



<div class="row">
    <div class="col-12">
        <center><h1 class="heading-agileinfo"><b>New Books</b></h1></center>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/Content/images/2.jpg" />

            <div class="caption">
                <h5>Product Name</h5>
                <p>500.00 ৳.</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center><h1><b>Our Feature</b></h1></center>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-4">
                <center>
                    <img width="150px" src="~/Content/images/signup1.jpg" />
                  <h3 class="heading"><b>Signup</b></h3>

                </center>
            </div>

            <div class=" col-md-4">
                <center>
                    <img width="150px" src="~/Content/images/3.png" />
                    <h3 class="heading"><b>Search Books</b></h3>
                    <span>Find what you want in a library </span>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" src="~/Content/images/4.png" />
                    <h3 class="heading"><b>Defaulter list</b></h3>
                    <span> person who fails to return books </span>
                </center>
            </div>
        </div>
    </div>
</section>



