<!DOCTYPE html>
<html>
<head>
    <title>Welcome to WebmaxEngineering</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Thanks for signing up to <a href="http://WebmaxEngineering.com">our site</a>!
    </p>
    <p style="font-size:18px;">
        Please confirm your account by clicking this <a href="@ViewBag.Link">link</a>.
    </p>
    <p style="font-size:18px;"><i>WebmaxEngineering</i></p>
</body>
</html>
